*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  height: 100%;
  background: url('shells.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-form {
  width: 740px;
  height: 440px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px 35px;
  background: url('background.jpg') no-repeat center center;
  background-size: cover;
  width: 38%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  transition: left 1s ease-in-out, background 1s ease-in-out;
}

/* .traveler {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30%;
  max-width: 20em;
  background: transparent;
  z-index: 99;
} */

.info-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.info-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

.info button {
  position: relative;
  left: 67px;
  transition: transform 1s ease-in-out;
  transform: scale(1,1);
}

.info-anim {
  left: 63%!important;
  background-position-x: 0px;
  animation: sizeToggle 1.1s;
}

.socials {
  margin-bottom: 25px;
}

.form span {
  display: block;
  font-size: 11px;
  color: #A5A9A8;
  letter-spacing: .5px;
  margin-bottom: 15px;
}

a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1D2120;
  width: 36px;
  height: 36px;
  border: 1px solid #E7EBEA;
  border-radius: 50%;
  margin: 0 1px;
}

.size {
  animation: sizeToggleOff 1.1s;
}

.info-anim .info-content {
  transform: translateX(-62%)!important;
}

.info-anim .info-content .div-up {
  margin-left: -20px!important;
}

.info-anim .info-content .div-in {
  margin-right: 0px!important;
}


@keyframes sizeToggle {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.25,1);
  }
  100% {
    transform: scale(1,1);
  }
}

@keyframes sizeToggleOff {
  0% {
    transform: scale(1,1);
  }
  50% {
    transform: scale(1.25,1);
  }
  100% {
    transform: scale(1,1);
  }
}

.info-content div {
  width: 38%;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: margin 1s ease-in-out;
}

.div-in {
  margin-right: -20px;
}

.div-up {
  margin-left: 0px;
}

.info-content h3 {
  margin-bottom: 20px;
}

.div-up p {
  width: 90%;
}

.div-in p {
  width: 70%;
}

.info-container p {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.5;
}

h3 {
  font-size: 30px;
}

.form div h3 {
  color: #208567;
}

button {
  width: 145px;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: 1px solid #EDF9F6;
  color: #EDF9F6;
  background: transparent;
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  letter-spacing: 1.5px;
}


.form {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.form div {
  text-align: center;
}

.form div button {
  background: #208567;
  border: none;
  margin-top: 40px;
  transition: all .3s ease;
}

.form .sign button {
  margin-top: 20px;
}

.form .sign h5 {
  margin-top: 10px;
  font-weight: 400;
  border-bottom: 1px solid rgba(32, 133, 103, .5);
  padding-bottom: 5px;
  color: #373A3A;
  cursor: pointer;
}

.form div button:hover {
  color: #208567;
  background: #fff;
  border: 1px solid #208567;
}

.form div button:active {
  transform: scale(.95);
}

.sign {
  transition: all .6s ease-in-out;
  opacity: 0;
  margin-right: -120px;
}

.create {
  transition: all .5s ease-in-out .5s;
  opacity: 1;
  margin-left: 120px;
}

.in {
  /* opacity: 0; */
  position: relative;
  left: 25px;
  transition: .5s ease-in-out .5s;
  opacity: 1;
}

.up {
  opacity: 0;
  position: relative;
  left: 35px;
  transition: .5s ease-in-out;
}

.change-anim .in {
  transition: .5s ease-in-out!important;
  opacity: 0!important;
  left: -40px!important;
}

.change-anim .up {
  transition: .5s ease-in-out .5s!important;
  opacity: 1!important;
  left: -20px!important;
}

.form-anim .create {
  transition: all .5s ease-in-out!important;
  margin-left: 0px!important;
  opacity: 0!important;
}

.form-anim .sign {
  transition: all .6s ease-in-out .5s!important;
  margin-right: 0px!important;
  opacity: 1!important;
}

.form div h3 {
  margin-bottom: 25px;
}

.btn-change {
  background: transparent;
}

.btn-change:hover {
  transform: scale(.95);
  transition: transform .3s ease;
}

input {
  width: 280px;
  height: 40px;
  border: 1px solid #F4F7F8;
  background: #F4F7F8;
  padding-left: 20px;
  margin-bottom: 8px;
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form div {
  width: 40%;
}
